@media (min-width: 640px) {
	#myButton{
		display: none;
	}

	ul.menuLinks, ul.menuLinks.open{
		display: flex;
		justify-content: center;
	}

	ul.menuLinks a:hover {
		color: #041427;
		background-color: #F7CAC9;
	}

	.grid-container {
        grid-template-columns: 1fr 1fr;
		max-width: none;
		width: 90%;
    }
	.spotlight-grid-container {
		grid-template-columns: 1fr 1fr 1fr;
		max-width: none;
		width: 90%;
	}


	.layout-container {
		grid-template-columns: minmax(250px, auto) 3fr;
	}

	.sidebar {
		width: 400px;
	}

	.image-grid img:hover {
        transform: scale(1.1); 
        transition: transform 0.3s ease; 
    }

	.form-container {
        grid-template-columns: 1fr 1fr;
	}

	.list article {
		grid-template-columns: repeat(6, 1fr);
		gap: 10px;
	}


	.banner {
        font-size: 1.5rem;
    }

	.closeButton {
		padding: 10px 20px;
		top: 10px;
    	right: 10px;
	}
	

}