@media only screen and (min-width: 64rem) {
    .data-card {
        position: absolute;
        top: 15%;
        left: 5%;
        width: 30%;
        background-color: rgba(255, 255, 255, 0.5);
    }

    .weather-card {
        position: absolute;
        top: 80%;
        left: 65%;
        width: 30%;
        background-color: rgba(255, 255, 255, 0.5);
    }

    /* Weather icon styles */
    .weather-icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: var(--secondary-color);
    }

    .image {
        display: none;
    }

    .icon {
        display: block;
    }

    .icon::after {
        content: " ⛅";
        font-size: 30px;
    }
}

@media only screen and (min-width: 38rem) and (max-width: 64rem) {
    .data-card {
        position: relative;
        width: 45%; 
        margin: 5% auto 2%; 
    }

    .weather-card {
        position: relative;
        width: 45%; 
        margin: 2% auto; 
    }
}


